$font-large: 1.5rem;
$font-small: 1rem;
@mixin hover {
  cursor: pointer;
  text-decoration: none;
  background-color: black;
  color: white;
  transition: all 0.3s ease-out;
}

.about-wraper {
  min-height: 760px;
  width: 100%;
  background-image: url(../img/bg-bright.png);
  background-size: cover;

  .none-active-box {
    float: left;
    width: 500px;
    height: 380px;
    margin: 10% 5% 10% 8%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 3px 0 black;

    h2 {
      margin-top: 0.3rem;
      text-align: center;
    }

    hr {
      border-color: black;
    }

    .profile {
      padding: 10px 20px;

      img {
        width: 130px;
        height: 130px;
        float: left;
      }

      p {
        padding-top: 15px;
        text-align: justify;
      }

      .profile-text {
        margin-bottom: 40px;

        h1 {
          margin: 10px 0 5px 0;
          font-size: #{$font-large};
        }

        span {
          color: rgb(108, 108, 108);
        }
      }

      .links {
        margin-top: 20px;

        a {
          color: black;
          font-size: #{$font-small};
          text-decoration: none;
          margin-right: 10px;
          padding: 4px 5px 0 5px;

          svg {
            position: relative;
            top: 0.15em;
            margin-right: 5px;
          }
        }

        a:hover {
          @include hover();
        }
      }
    }
  }

  span.typing {
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 0 3px;
  }

  .active-box {
    float: left;
    margin: 15% 0;
    width: 600px;
    height: 332px;
    background-image: url(../img/active-box-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 3px 0 black;

    h2 {
      position: relative;
      width: fit-content;
      top: 0.3rem;
      padding: 2px;
      margin: 0 auto;
      background-color: white;
    }

    .skills-box {
      margin-top: 25px;
      padding: 30px 40px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;

      h1 {
        font-size: #{$font-large};
        margin-bottom: 10px;
      }

      span {
        display: block;
      }
    }
  }
}
