.todo-template {
  width: 512px;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 4px 3px 0 black;

  .app-title {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid black;
    font-size: 1rem;
  }

  .content {
    background: white;
  }
}
